
$(".status_tag").replaceWith('<span class="<%="status_tag #{@projekt.statustitelei.status.gsub(/\s+/, "")}"%>"><%= @projekt.statustitelei.status %></span>');
$(".flashes").replaceWith('<div class="flashes"> <div class="flash flash_notice"><%= t('flash_notice.revised_succes') %></div></div>');
$(".flashes").delay(2000).fadeOut(500);


