fieldset {
  border: 0px none;
  padding: 10px 0px;
  margin-bottom: 20px;
  background: #F4F4F4 none repeat scroll 0% 0%;
  border-radius: 4px;
  box-shadow: 0px 1px 4px #DDD inset;
  font-size: 0.95em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #5E6469;


  p{
    padding-left: 1.5em;
    font-weight: 100;

  }

  form {
    padding: 0px;
    margin: 0px;
  }

  legend{
    width: 100%;
    padding: 0px;
    margin: 0px;

    span {
      display: block;
      background-color: #efefef;
      background-image: linear-gradient(180deg, #efefef, #dfe1e2);
      text-shadow: #fff 0 1px 0;
      border: solid 1px #cdcdcd;
      border-color: #d4d4d4;
      border-top-color: #e6e6e6;
      border-right-color: #d4d4d4;
      border-bottom-color: #cdcdcd;
      border-left-color: #d4d4d4;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px #FFF inset;
      font-size: 1em;
      font-weight: bold;
      line-height: 18px;
      margin-bottom: 0.5em;
      color: #5E6469;
      padding: 5px 10px 3px 10px;
    }
  }

  ul{

    li{
      list-style: none;
      padding-top: 5px;
      vertical-align: middle;




      input{
        width: calc(80% - 22px);
        border: 1px solid #c9d0d6;
        border-radius: 3px;
        outline: none;
        padding: 8px 10px 7px;
        margin-bottom: 8px;


      }

      .datepicker{
        width: 10%;
      }
    }

     label{
      display: block;
      width: 10%;
      float: left;
      font-size: 1em;
      font-weight: bold;
      color: #5E6469;
    }


  }

}

form input[type="submit"] {
  margin-top: 10px;
}

form input[type="checkbox"] {
  width: initial;
}


.one_size_42px{
  height: 40px;
}

.buch{
  display: none;
}

.autor{
  display: none;
}

.ui-helper-hidden-accessible{
  display: none;

}

.ui-autocomplete{
  background-color: white;
  width: 300px;
  border: solid 1px;
  list-style:none;
  padding-left: 0px;
}

.ui-menu-item{
  padding-left: 5px;
}

.ui-state-focus{
  background-color: #e6e6e6;
  padding-left: 5px;
}

.edit_status{
  padding-bottom: 5px;
  border-bottom: 1px solid #E8E8E8;

}