ul li.user_input {

	label {
		text-transform: capitalize;
		display: inline;
		float: none;
		margin-left: 3px;
		margin-right: 15px;
	}

	label.label {
		width: 20%;
		float: left;
		margin: 0 0;
	}
}


form #admin_user_submit_action input[type="submit"] {
  margin-top: 0px;
}