<%= form_tag (url_for controller: controller_name, action: "createProduktion") do %>
  <input type="hidden" name="id">
  <div class="container" role="main">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h1>Neues Projekt Anlegen</small></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="inputProjektname">Projektname</label>
          <input type="text" class="form-control" id="inputProjektname" name="inputProjektname" placeholder="Projektname" />
        </div>
        <div class="form-group">
          <label for="inputIsbn">ISBN</label>
          <input type="text" class="form-control" id="inputIsbn" name="inputIsbn" placeholder="Isbn" />
        </div>
        <div class="form-group">
          <label for="inputAuflage">Auflage</label>
          <input type="text" class="form-control" id="inputAuflage" name="inputAuflage" name="inputAuflage" placeholder="Auflage" />
        </div>
        <div class="form-group">
          <label for="inputPrio">Priorität</label>
          <input type="text" class="form-control" id="inputPrio" name="inputPrio" name="inputPrio" placeholder="Priorität" />
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="inputPapier">Papier</label>
          <input type="text" class="form-control" id="inputPapier" name="inputPapier" name="inputPapier" placeholder="Papier" />
        </div>
        <div class="form-group">
          <label for="inputFormat">Format</label>
          <input type="text" class="form-control" id="inputFormat" name="inputFormat" name="inputFormat" placeholder="Format" />
        </div>
        <div class="form-group">
          <label for="inputUmschlag">Umschlag</label>
          <input type="text" class="form-control" id="inputUmschlag" name="inputUmschlag" name="inputUmschlag" placeholder="Umschlag" />
        </div>
        <div class="form-group">
          <label for="inputBindung">Bindung</label>
          <input type="text" class="form-control" id="inputBindung" name="inputBindung" name="inputBindung" placeholder="Bindung" />
        </div>
        <div class="form-group">
          <label for="inputSeiten">Seiten</label>
          <input type="text" class="form-control" id="inputSeiten" name="inputSeiten" name="inputSeiten" placeholder="Seiten" />
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <button class="btn btn-default pull-right">Anlegen</button>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
<% end %>
