<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <div class='btn-toolbar pull-right'>
          <div class='btn-group'>
            <button type='button' class='btn btn-default'>Bearbeiten</button>
          </div>
        </div>
        <h1>Prof. Dr. Max Mustermann <small> fox-id: A15586558</small></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Kontakt</div>
        <div class="panel-body">
          <table class="contact-table">
            <tr>
              <th>Email</td>
              <td><a href="mailto:max.mustermann@example.com">max.mustermann@example.com</a></td>
            </tr>
            <tr>
              <th>Telefon</td>
              <td>01234/256555</td>
            </tr>
            <tr>
              <th>Fax</td>
              <td>01234/245854</td>
            </tr>
            <tr class="spacing-above">
              <th>Straße</td>
              <td>Musterstraße</td>
            </tr>
            <tr>
              <th>Plz</td>
              <td>59229</td>
            </tr>
            <tr>
              <th>Ort</td>
              <td>Musterstadt</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Dienstkontakt</div>
        <div class="panel-body">
          <table class="contact-table">
            <tr>
              <th>Email</td>
              <td><a href="mailto:max.mustermann@example.com">max.mustermann@example.com</a></td>
            </tr>
            <tr>
              <th>Telefon</td>
              <td>01234/256555</td>
            </tr>
            <tr>
              <th>Fax</td>
              <td>01234/245854</td>
            </tr>
            <tr class="spacing-above">
              <th>Straße</td>
              <td>Musterstraße</td>
            </tr>
            <tr>
              <th>Plz</td>
              <td>59229</td>
            </tr>
            <tr>
              <th>Ort</td>
              <td>Musterstadt</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Buecher</div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li class="truncate">
              <a href="#"><strong>978-3131287724</strong> - Genetik: Allgemeine Genetik - Molekulare Genetik - Entwicklungsgenetik</a>
            </li>
            <li class="truncate">
              <a href="#"><strong>978-3131287724</strong> - Genetik: Allgemeine Genetik - Molekulare Genetik - Entwicklungsgenetik</a>
            </li>
            <li class="truncate">
              <a href="#"><strong>978-3131287724</strong> - Genetik: Allgemeine Genetik - Molekulare Genetik - Entwicklungsgenetik</a>
            </li>
            <li class="truncate">
              <a href="#"><strong>978-3131287724</strong> - Genetik: Allgemeine Genetik - Molekulare Genetik - Entwicklungsgenetik</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Reihen</div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
  </div>

</div>
