/**
 * Created by rouven on 13.11.15.
 */


$(document).on('ready page:load',
        function () {


   $( "#name_autocomplete" ).autocomplete({
      <% autor_name_list = []%>
       <% Autor.all.each do |autor| %>
           <% autor_name_list.append autor.name %>
       <%end%>
       source: <%= raw autor_name_list.as_json %>
    });


    $(".ui-helper-hidden-accessible").remove();

            var is_added = false;

            $( "h3").click(function( event ) {
                 $(event.target).parent().find("table").slideToggle(100);

            });


    $("#admin_user_department_ids_10").click(function( event ) {
        if($("#admin_user_department_ids_10").prop('checked')){
            $("#lektor_select_box").show();
            $( "#admin_user_department_ids_9" ).prop( "disabled", true );
            $( "#admin_user_department_ids_8" ).prop( "disabled", true );
            $( "#admin_user_department_ids_7" ).prop( "disabled", true );
            $( "#admin_user_department_ids_6" ).prop( "disabled", true );
            $( "#admin_user_department_ids_5" ).prop( "disabled", true );
            $( "#admin_user_department_ids_4" ).prop( "disabled", true );
            $( "#admin_user_department_ids_3" ).prop( "disabled", true );
            $( "#admin_user_department_ids_2" ).prop( "disabled", true );
            $( "#admin_user_department_ids_1" ).prop( "disabled", true );

            $( "#admin_user_department_ids_9" ).prop( "checked", false );
            $( "#admin_user_department_ids_8" ).prop( "checked", false );
            $( "#admin_user_department_ids_7" ).prop( "checked", false );
            $( "#admin_user_department_ids_6" ).prop( "checked", false );
            $( "#admin_user_department_ids_5" ).prop( "checked", false );
            $( "#admin_user_department_ids_4" ).prop( "checked", false );
            $( "#admin_user_department_ids_3" ).prop( "checked", false );
            $( "#admin_user_department_ids_2" ).prop( "checked", false );
            $( "#admin_user_department_ids_1" ).prop( "checked", false );
        }else{
            $("#lektor_select_box").hide();
            $( "#admin_user_department_ids_9" ).prop( "disabled", false );
            $( "#admin_user_department_ids_8" ).prop( "disabled", false );
            $( "#admin_user_department_ids_7" ).prop( "disabled", false );
            $( "#admin_user_department_ids_6" ).prop( "disabled", false );
            $( "#admin_user_department_ids_5" ).prop( "disabled", false );
            $( "#admin_user_department_ids_4" ).prop( "disabled", false );
            $( "#admin_user_department_ids_3" ).prop( "disabled", false );
            $( "#admin_user_department_ids_2" ).prop( "disabled",false );
            $( "#admin_user_department_ids_1" ).prop( "disabled", false );
        }

    });

    }
);





//var input_fields = '<div class="additional_fields"><li>\
//        <label for="vorname">Vorname</label>\
//        <input type="text" name="autor[vorname]" id="autor_vorname" value="" />\
//        </li>\
//        <li>\
//        <label for="autor_fox_id">Fox ID </label>\
//        <input type="text" name="autor[fox_id]" id="autor_fox_id" />\
//       </li>\
//        <li>\
//        <label for="autor_anrede">Anrede</label>\
//        <input type="text" name="autor[anrede]" id="autor_anrede" />\
//        </li>\
//        <li>\
//        <label for="autor_email">Email</label>\
//        <input type="text" name="autor[email]" id="autor_email" />\
//       </li>\
//        <li>\
//        <label for="autor_str">Straße</label>\
//        <input type="text" name="autor[str]" id="autor_str" />\
//        </li>\
//        <li>\
//        <label for="autor_ort">Ort</label>\
//        <input type="text" name="autor[ort]" id="autor_ort" />\
//       </li>\
//        <li>\
//        <label for="autor_plz">Plz</label>\
//        <input type="text" name="autor[plz]" id="autor_plz" />\
//       </li>\
//        <li>\
//        <label for="autor_tel">Telefon</label>\
//        <input type="text" name="autor[tel]" id="autor_tel" />\
//        </li>\
//        <li>\
//        <label for="autor_fax">Fax</label>\
//        <input type="text" name="autor[fax]" id="autor_fax" />\
//        </li>\
//        <li>\
//        <label for="autor_institut">Institut</label>\
//        <input type="text" name="autor[institut]" id="autor_institut" />\
//        </li>\
//        <li>\
//        <label for="autor_demail">Email (Dienst)</label>\
//        <input type="text" name="autor[demail]" id="autor_demail" />\
//        </li>\
//        <li>\
//        <label for="autor_dstr">Straße (Dienst)</label>\
//        <input type="text" name="autor[dstr]" id="autor_dstr" />\
//        </li>\
//        <li>\
//        <label for="autor_dort">Ort (Dienst)</label>\
//        <input type="text" name="autor[dort]" id="autor_dort" />\
//        </li>\
//        <li>\
//        <label for="autor_dplz">Plz (Dienst)</label>\
//        <input type="text" name="autor[dplz]" id="autor_dplz" />\
//       </li>\
//        <li>\
//        <label for="autor_dtel">Telefon (Dienst)</label>\
//        <input type="text" name="autor[dtel]" id="autor_dtel" />\
//      </li>\
//        <li>\
//        <label for="autor_dfax">Fax (Dienst)</label>\
//        <input type="text" name="autor[dfax]" id="autor_dfax" />\
//        </li>\
//        <input type="submit" name="commit" value="Autor hinzufügen" />\
//        <input type="submit" name="commit" value="Neuen Autor erstellen"/>\
//        <\div>';






