// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;


// Active Admin's got SASS!
//@import '_bootstrap.scss';
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_admin/select2/base";
@import 'input_form/input_form';
@import 'input_form/nav_bar';

@import 'status_tag';
@import 'input_form/user_input';


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }



.col-isbn {
	width:4em;
}
.col-selectable {
	padding-left:2pt !important;
	padding-right:2pt !important;
}








//Adding styles for the costum input view



