// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;


// Active Admin's got SASS!
//@import '_bootstrap.scss';
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_admin/select2/base";
@import 'input_form/input_form';
@import 'input_form/nav_bar';
@import 'input_form/user_input';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.col-isbn {
	width:4em
}
.col-selectable {
	padding-left:2pt !important;
	padding-right:2pt !important;
}






.status_tag {
  background: darken($secondary-color, 15%);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 3px 5px 2px 5px;
  font-size: 0.8em;

  &.ok, &.published, &.complete, &.completed, &.green { background: #8daa92; }
  &.warn, &.warning, &.orange { background: #e29b20; }
  &.error, &.errored, &.red { background: #d45f53; }

  &.yes { background: #6090DB }
  &.no  { background: grey }

  &.fertig { background: green; }
  &.bearbeitung { background: yellow; color: #2E2F30 }
  &.neu { background: red; }

}

//Adding styles for the costum input view



