<h1>Ein neues Projekt erstellen</h1>

<%= form_for :gprod, url: " " do |f| %>
    <p>
      <%= f.label :druck %><br>
      <%= f.text_field :druck %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>