
$(".status_tag").replaceWith('<span class="<%="status_tag #{@projekt.statusumschl.status.gsub(/\s+/, "")}"%>"><%= @projekt.statusumschl.status %></span>');
$(".flashes").replaceWith('<div class="flashes"> <div class="flash flash_notice"><%= t('flash_notice.revised_success') %></div></div>');
$(".flashes").delay(2000).fadeOut(500);


